In [ ]:
# Instalar os pacotes caso n√£o estejam instalados
#!pip install tweepy datetime

In [ ]:
# Capturando as informa√ß√µes do Tweeter
#!python Crowler_Twitter.py

# Entendendo a estrutura do JSON

In [1]:
import json

In [2]:
# Abrir o arquivo de tweets e ler as linhas
with open('collected_tweets_2021-03-11-10-33-42.txt', 'r') as file:
    tweets = file.readlines()

In [3]:
tweets[0]

'"{\\"created_at\\":\\"Thu Mar 11 13:33:38 +0000 2021\\",\\"id\\":1370004992208363526,\\"id_str\\":\\"1370004992208363526\\",\\"text\\":\\"RT @DanRather: Trump would put his name on the vaccine syringes if he could but all the Trump syringes were allocated for bleach injections.\\",\\"source\\":\\"\\\\u003ca href=\\\\\\"http:\\\\/\\\\/twitter.com\\\\/download\\\\/iphone\\\\\\" rel=\\\\\\"nofollow\\\\\\"\\\\u003eTwitter for iPhone\\\\u003c\\\\/a\\\\u003e\\",\\"truncated\\":false,\\"in_reply_to_status_id\\":null,\\"in_reply_to_status_id_str\\":null,\\"in_reply_to_user_id\\":null,\\"in_reply_to_user_id_str\\":null,\\"in_reply_to_screen_name\\":null,\\"user\\":{\\"id\\":824304367444623366,\\"id_str\\":\\"824304367444623366\\",\\"name\\":\\"gheem \\\\ud83c\\\\uddfa\\\\ud83c\\\\uddf8\\\\u2696\\\\ufe0f\\\\ud83d\\\\uddfd\\",\\"screen_name\\":\\"j_seibyl\\",\\"location\\":null,\\"url\\":null,\\"description\\":\\"IT professional and rocket guy.\\",\\"translator_type\\":\\"none\\",\\"protected\\":false,\\"verified\\":false,\\"followers_count\\":527,\\"friends_count\\":1216,\\"listed_count\\":4,\\"favourites_count\\":28818,\\"statuses_count\\":31933,\\"created_at\\":\\"Wed Jan 25 17:14:10 +0000 2017\\",\\"utc_offset\\":null,\\"time_zone\\":null,\\"geo_enabled\\":false,\\"lang\\":null,\\"contributors_enabled\\":false,\\"is_translator\\":false,\\"profile_background_color\\":\\"F5F8FA\\",\\"profile_background_image_url\\":\\"\\",\\"profile_background_image_url_https\\":\\"\\",\\"profile_background_tile\\":false,\\"profile_link_color\\":\\"1DA1F2\\",\\"profile_sidebar_border_color\\":\\"C0DEED\\",\\"profile_sidebar_fill_color\\":\\"DDEEF6\\",\\"profile_text_color\\":\\"333333\\",\\"profile_use_background_image\\":true,\\"profile_image_url\\":\\"http:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1276511213585907716\\\\/vaWPPLbp_normal.jpg\\",\\"profile_image_url_https\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1276511213585907716\\\\/vaWPPLbp_normal.jpg\\",\\"profile_banner_url\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_banners\\\\/824304367444623366\\\\/1573443592\\",\\"default_profile\\":true,\\"default_profile_image\\":false,\\"following\\":null,\\"follow_request_sent\\":null,\\"notifications\\":null},\\"geo\\":null,\\"coordinates\\":null,\\"place\\":null,\\"contributors\\":null,\\"retweeted_status\\":{\\"created_at\\":\\"Thu Mar 11 04:33:48 +0000 2021\\",\\"id\\":1369869141163835392,\\"id_str\\":\\"1369869141163835392\\",\\"text\\":\\"Trump would put his name on the vaccine syringes if he could but all the Trump syringes were allocated for bleach injections.\\",\\"source\\":\\"\\\\u003ca href=\\\\\\"http:\\\\/\\\\/twitter.com\\\\/download\\\\/iphone\\\\\\" rel=\\\\\\"nofollow\\\\\\"\\\\u003eTwitter for iPhone\\\\u003c\\\\/a\\\\u003e\\",\\"truncated\\":false,\\"in_reply_to_status_id\\":null,\\"in_reply_to_status_id_str\\":null,\\"in_reply_to_user_id\\":null,\\"in_reply_to_user_id_str\\":null,\\"in_reply_to_screen_name\\":null,\\"user\\":{\\"id\\":36711022,\\"id_str\\":\\"36711022\\",\\"name\\":\\"Dan Rather\\",\\"screen_name\\":\\"DanRather\\",\\"location\\":\\"New York, NY\\",\\"url\\":\\"http:\\\\/\\\\/algonquin.com\\\\/whatunitesus\\",\\"description\\":\\"Journalist, storyteller, lifelong reader. Texan by birth and by choice. Author of WHAT UNITES US #WhatUnitesUs and the Steady letter #steady https:\\\\/\\\\/t.co\\\\/RnBmQ4xGJU\\",\\"translator_type\\":\\"none\\",\\"protected\\":false,\\"verified\\":true,\\"followers_count\\":2118205,\\"friends_count\\":752,\\"listed_count\\":7896,\\"favourites_count\\":8525,\\"statuses_count\\":18921,\\"created_at\\":\\"Thu Apr 30 16:56:13 +0000 2009\\",\\"utc_offset\\":null,\\"time_zone\\":null,\\"geo_enabled\\":true,\\"lang\\":null,\\"contributors_enabled\\":false,\\"is_translator\\":false,\\"profile_background_color\\":\\"000000\\",\\"profile_background_image_url\\":\\"http:\\\\/\\\\/abs.twimg.com\\\\/images\\\\/themes\\\\/theme14\\\\/bg.gif\\",\\"profile_background_image_url_https\\":\\"https:\\\\/\\\\/abs.twimg.com\\\\/images\\\\/themes\\\\/theme14\\\\/bg.gif\\",\\"profile_background_tile\\":false,\\"profile_link_color\\":\\"ABB8C2\\",\\"profile_sidebar_border_color\\":\\"000000\\",\\"profile_sidebar_fill_color\\":\\"000000\\",\\"profile_text_color\\":\\"000000\\",\\"profile_use_background_image\\":false,\\"profile_image_url\\":\\"http:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/649334374278807552\\\\/sUX0LOaE_normal.jpg\\",\\"profile_image_url_https\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/649334374278807552\\\\/sUX0LOaE_normal.jpg\\",\\"profile_banner_url\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_banners\\\\/36711022\\\\/1446650131\\",\\"default_profile\\":false,\\"default_profile_image\\":false,\\"following\\":null,\\"follow_request_sent\\":null,\\"notifications\\":null},\\"geo\\":null,\\"coordinates\\":null,\\"place\\":null,\\"contributors\\":null,\\"is_quote_status\\":false,\\"quote_count\\":440,\\"reply_count\\":849,\\"retweet_count\\":4548,\\"favorite_count\\":38097,\\"entities\\":{\\"hashtags\\":[],\\"urls\\":[],\\"user_mentions\\":[],\\"symbols\\":[]},\\"favorited\\":false,\\"retweeted\\":false,\\"filter_level\\":\\"low\\",\\"lang\\":\\"en\\"},\\"is_quote_status\\":false,\\"quote_count\\":0,\\"reply_count\\":0,\\"retweet_count\\":0,\\"favorite_count\\":0,\\"entities\\":{\\"hashtags\\":[],\\"urls\\":[],\\"user_mentions\\":[{\\"screen_name\\":\\"DanRather\\",\\"name\\":\\"Dan Rather\\",\\"id\\":36711022,\\"id_str\\":\\"36711022\\",\\"indices\\":[3,13]}],\\"symbols\\":[]},\\"favorited\\":false,\\"retweeted\\":false,\\"filter_level\\":\\"low\\",\\"lang\\":\\"en\\",\\"timestamp_ms\\":\\"1615469618261\\"}\\r\\n"\n'

In [4]:
# Excrevendo o parse do primeiro twiiter para um formato json, tipo dicionario
with open('tweets.json', 'w') as f:
    json.dump(
        json.loads(json.loads(tweets[0])),
        f
    )

In [6]:
# Carregando os dados em Json
parsed_tweets = [json.loads(json.loads(i)) for i in tweets]

In [7]:
# Quantidade de Tweets coletados
len(parsed_tweets)

222

# Acessando as chaves do JSON (dicion√°rio)

In [8]:
# Nomeando o primeiro twitter para testes
primeirotwetter = parsed_tweets[0]

In [9]:
# Acessando as chaves do Twitter
primeirotwetter.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [10]:
# Acessando o texto do primeiro twitter
primeirotwetter['text']

'RT @DanRather: Trump would put his name on the vaccine syringes if he could but all the Trump syringes were allocated for bleach injections.'

In [11]:
# Acessando o nome da pessoa que Tweetou
primeirotwetter['user']['name']

'gheem üá∫üá∏‚öñÔ∏èüóΩ'

# Transformar os tweets em uma estrutura relacional analis√°vel

In [12]:
import pandas as pd

In [28]:
# Convertente o primeiro twitter em um Dataframe Pandas
dftratato = pd.DataFrame(primeirotwetter).reset_index(drop=True).iloc[:1]

In [29]:
# Verificando o tipo
type(dftratato)

pandas.core.frame.DataFrame

In [30]:
# Verificando as colunas
dftratato.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [31]:
# Removendo colunas desnecess√°rias
dftratado = dftratato.drop(columns=['quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'favorited','retweeted', 'user', 'entities', 'retweeted_status'])

In [33]:
# Fazendo a ingest√£o do primeito twitter no Dataframe
dftratado['user_id'] = parsed_tweets[0]['user']['id']
dftratado['user_id_str'] = parsed_tweets[0]['user']['id_str']
dftratado['user_screen_name'] = parsed_tweets[0]['user']['screen_name']
dftratado['user_location'] = parsed_tweets[0]['user']['location']
dftratado['user_description'] = parsed_tweets[0]['user']['description']
dftratado['user_protected'] = parsed_tweets[0]['user']['protected']
dftratado['user_verified'] = parsed_tweets[0]['user']['verified']
dftratado['user_followers_count'] = parsed_tweets[0]['user']['followers_count']
dftratado['user_friends_count'] = parsed_tweets[0]['user']['friends_count']
dftratado['user_created_at'] = parsed_tweets[0]['user']['created_at']

In [34]:
# Constatando o Dataframe
dftratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Thu Mar 11 13:33:38 +0000 2021,1370004992208363526,1370004992208363526,RT @DanRather: Trump would put his name on the...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,824304367444623366,824304367444623366,j_seibyl,None,IT professional and rocket guy.,False,False,527,1216,Wed Jan 25 17:14:10 +0000 2017

In [35]:
# Entidades
primeirotwetter['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'DanRather',
   'name': 'Dan Rather',
   'id': 36711022,
   'id_str': '36711022',
   'indices': [3, 13]}],
 'symbols': []}

In [41]:
# Coletando as men√ß√µes e salvando na vari√°vel user_mentions
user_mentions = []
for i in range(len(primeirotwetter['entities']['user_mentions'])):
    dicionariobase = primeirotwetter['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns={
        'screen_name': 'entities_screen_name',
        'name': 'entities_name',
        'id': 'entities_id',
        'id_str': 'entities_id_str'
    })
    user_mentions.append(df)

In [43]:
# Verificando as men√ß√µes
user_mentions[0]

  entities_screen_name entities_name  entities_id entities_id_str
0            DanRather    Dan Rather     36711022        36711022

In [45]:
# Ignorando a indexa√ß√£o
pd.concat(user_mentions, ignore_index=True)

  entities_screen_name entities_name  entities_id entities_id_str
0            DanRather    Dan Rather     36711022        36711022

In [47]:
# Concatenando o dftratado com as men√ß√µes
dfs = []
for i in user_mentions:
    dfs.append(
      pd.concat([dftratado.copy(), i], axis = 1)  
    )

In [50]:
# Constatando a concatena√ß√£o
dfs[0]

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Thu Mar 11 13:33:38 +0000 2021,1370004992208363526,1370004992208363526,RT @DanRather: Trump would put his name on the...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,IT professional and rocket guy.,False,False,527,1216,Wed Jan 25 17:14:10 +0000 2017,DanRather,Dan Rather,36711022,36711022

In [51]:
# Ignorando a indexa√ß√£o
pd.concat(dfs, ignore_index=True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Thu Mar 11 13:33:38 +0000 2021,1370004992208363526,1370004992208363526,RT @DanRather: Trump would put his name on the...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,IT professional and rocket guy.,False,False,527,1216,Wed Jan 25 17:14:10 +0000 2017,DanRather,Dan Rather,36711022,36711022

### Vamos criar uma fun√ß√£o que faz todo o tratamento de todas as linhas do arquivo extra√≠do do Tweeter e converte para um DataFrame pandas.

In [62]:
def tweet_para_df(tweet):
    try:    
        dftratato = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        dftratado = dftratato.drop(columns=['quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'favorited','retweeted', 'user', 'entities', 'retweeted_status'])
        dftratado['user_id'] = tweet['user']['id']
        dftratado['user_id_str'] = tweet['user']['id_str']
        dftratado['user_screen_name'] = tweet['user']['screen_name']
        dftratado['user_location'] = tweet['user']['location']
        dftratado['user_description'] = tweet['user']['description']
        dftratado['user_protected'] = tweet['user']['protected']
        dftratado['user_verified'] = tweet['user']['verified']
        dftratado['user_followers_count'] = tweet['user']['followers_count']
        dftratado['user_friends_count'] = tweet['user']['friends_count']
        dftratado['user_created_at'] = tweet['user']['created_at']

        user_mentions = []
        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df = df.rename(columns={
            'screen_name': 'entities_screen_name',
            'name': 'entities_name',
            'id': 'entities_id',
            'id_str': 'entities_id_str'
            })
            user_mentions.append(df)
        dfs = []
        for i in user_mentions:
            dfs.append(
              pd.concat([dftratado.copy(), i], axis = 1)  
            )
        df_final = pd.concat(user_mentions, ignore_index=True)
    except:
        return None
    return df_final

In [68]:
# Capturando um tweeter na estrutura desej√°vel
tweet_para_df(parsed_tweets[57])

  entities_screen_name        entities_name  entities_id entities_id_str
0              lcvelez  Luis Carlos V√©lez üåé     27570569        27570569
1         ClaudiaLopez      Claudia L√≥pez üëç    137908875       137908875

In [73]:
# Capturando um tweeter na estrutura diferente
tweet_para_df(parsed_tweets[5])

In [74]:
# Calculando o tempo de execu√ß√£o da fun√ß√£o
%%time
# Vamos iterar e transformar todos os tweets
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

CPU times: user 2.22 s, sys: 0 ns, total: 2.22 s
Wall time: 2.24 s

In [78]:
# Elimiar as posicoes vazias da lista
parseados = [i for i in parseados if i is not None]

In [79]:
# verificando a quantidade
len(parseados)

152

In [80]:
# Ignorando a indexa√ß√£o
tratado = pd.concat(parseados, ignore_index=True)

In [82]:
# Verificando os dados tratado
tratado

,entities_screen_name,entities_name,entities_id,entities_id_str
0,DanRather,Dan Rather,36711022,36711022
1,RhondaKittle,üá∫üá∏The Best is Yet to Comeüá∫üá∏,2396947118,2396947118
2,LaPropuestaTVES,La Propuesta UCV,702259908708847616,702259908708847616
3,Jesus_Silva_R,Jes√∫s Silva Doctor #Venezuela,50247003,50247003
4,JZarif,Javad Zarif,47813521,47813521
...,...,...,...,...
170,nycsouthpaw,southpaw,22429979,22429979
171,Doc_0,John Hayward,72579376,72579376
172,RhondaKittle,üá∫üá∏The Best is Yet to Comeüá∫üá∏,2396947118,2396947118
173,CREWcrew,Citizens for Ethics,22187085,22187085
174,johnharveyphoto,üåäüê∂ John Harvey üì∑üåä,775647212,775647212

## Nesse momento vamos fazer a ingest√£o dos dados tratados num banco de dados PostgreSql atrav√©s da biblioteca SqlAlchemy

In [ ]:
# Instalando os modulos de acesso ao Banco de Dados
# !pip install pyodbc sqlalchemy
# !pip install psycopg2-binary

In [108]:
import sqlalchemy

In [116]:
engine = sqlalchemy.create_engine('postgresql://admin:123456@localhost:32768/postgres')

In [118]:
tratado.to_sql("tweets", con=engine, index=False, schema='sch_twitter', method='multi', chunksize=100, if_exists='replace')